In [22]:
import pandas as pd

In [2]:
data = pd.read_csv('data_fixed.csv', sep=',')

In [3]:
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
2,37,services,married,high.school,no,yes,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
4,56,services,married,high.school,no,no,yes,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  campaign        41188 non-null  int64
 11  pdays           41188 non-null  int64
 12  previous        41188 non-null  int64
 13  poutcome        41188 non-null  object
 14  emp.var.rate    41188 non-null  float64
 15  cons.price.idx  41188 non-null  float64
 16  cons.conf.idx   41188 non-null  float64
 17  euribor3m       41188 non-null  float64
 18  nr.employed     41188 non-null  float64
 19  y               41188 non-null  int64
dtypes: float64(5), int64(5), object(10)
memory usage: 6.3+ MB

In [5]:
import scipy

In [6]:
from scipy import stats

In [7]:
correlation, pvalue = stats.pointbiserialr(data['age'], data['y'])

In [8]:
print(f'correlação: {correlation:.4f}')
print(f'valor P: {pvalue:.4f}')

correlação: 0.0304
valor P: 0.0000

Correlação entre variáveis quantitativas e variável alvo.

In [16]:
num_columns = data.select_dtypes(include=['int64', 'float64']).columns

correlations_num = []

for col in num_columns:
    corr, pvalue = stats.pointbiserialr(data[col], data['y'])
    correlations_num.append({'feature': col, 'correlation': corr, 'pvalue': pvalue})

correlations_num_df = pd.DataFrame(correlations_num)

correlations_num_df

          feature  correlation         pvalue
0             age     0.030399   6.802136e-10
1        campaign    -0.066357   2.007780e-41
2           pdays    -0.324914   0.000000e+00
3        previous     0.230181   0.000000e+00
4    emp.var.rate    -0.298334   0.000000e+00
5  cons.price.idx    -0.136211  9.318965e-170
6   cons.conf.idx     0.054878   7.536665e-29
7       euribor3m    -0.307771   0.000000e+00
8     nr.employed    -0.354678   0.000000e+00
9               y     1.000000   0.000000e+00

In [10]:
table = pd.crosstab(data['job'], data['y'])

In [11]:
chi2, p, dof, expected = stats.chi2_contingency(table)

In [12]:
print(f"Qui-quadrado: {chi2}\np-value: {p}")

Qui-quadrado: 961.2424403289555
p-value: 4.189763287563623e-199

In [26]:
obj_columns = data.select_dtypes(include='object').columns
correlation_obj = []

for col in obj_columns:
    table = pd.crosstab(data[col], data['y'])
    chi2, p, dof, expected = stats.chi2_contingency(table)
    correlation_obj.append({'feature': col, 'chi2': chi2, 'p': p, 'dof': dof, 'expected': expected})
    
correlations_obj_df = pd.DataFrame(correlation_obj)
pd.set_option('display.max_colwidth', None)
correlations_obj_df

,feature,chi2,p,dof,expected
0,job,961.242440,4.189763e-199,11,"[[9247.918228610275, 1174.0817713897252], [8211.498300475867, 1042.5016995241333], [1291.9755268524814, 164.0244731475187], [940.5865786151306, 119.41342138486938], [2594.599203651549, 329.400796348451], [1526.2348256773817, 193.76517432261824], [1260.9184228416043, 160.08157715839565], [3521.8755948334465, 447.12440516655334], [776.4276002719239, 98.57239972807614], [5983.372924152666, 759.6270758473341], [899.7686704865495, 114.23132951345052], [292.82412353112557, 37.17587646887443]]"
1,marital,122.655152,2.068015e-26,3,"[[4092.4389628047006, 519.5610371952996], [22119.75682237545, 2808.2431776245508], [10264.816548509274, 1303.1834514907255], [70.98766631057589, 9.012333689424104]]"
2,education,193.105905,3.305189e-38,7,"[[3705.556181412062, 470.4438185879382], [2033.7966397979994, 258.20336020200057], [5364.005535592891, 680.9944644071089], [8443.09556181412, 1071.9044381858794], [15.972224919879576, 2.0277750801204233], [4652.354180829368, 590.6458191706322], [10797.224045838593, 1370.7759541614062], [1535.995629795086, 195.00437020491404]]"
3,default,406.577515,5.161958e-89,2,"[[28916.82587161309, 3671.1741283869087], [7628.512090900263, 968.4879090997377], [2.662037486646596, 0.3379625133534039]]"
4,housing,5.684496,5.829448e-02,2,"[[16524.154025444303, 2097.8459745556956], [878.4723705933767, 111.52762940662329], [19145.373603962318, 2430.626396037681]]"
5,loan,1.094028,5.786753e-01,2,"[[30125.390890550647, 3824.609109449354], [878.4723705933767, 111.52762940662329], [5544.1367388559775, 703.8632611440225]]"
6,contact,862.318364,1.525986e-189,1,"[[23198.769350296203, 2945.230649703797], [13349.230649703797, 1694.7693502962027]]"
7,month,3101.149351,0.000000e+00,9,"[[2335.494221617947, 296.50577838205305], [5482.022530834223, 695.9774691657765], [161.49694085656017, 20.503059143439838], [6365.818976400894, 808.1810235991065], [4718.905117995532, 599.0948820044673], [484.4908225696805, 61.50917743031951], [12217.864717878994, 1551.1352821210062], [3639.005244245897, 461.99475575410315], [637.1143051374187, 80.88569486258133], [505.78712246285323, 64.21287753714674]]"
8,day_of_week,26.144939,2.958482e-05,4,"[[6945.2558026609695, 881.7441973390307], [7554.8623871030395, 959.1376128969603], [7651.5830824511995, 971.4169175488006], [7178.627755656988, 911.3722443430125], [7217.670972127804, 916.3290278721958]]"
9,poutcome,4230.523798,0.000000e+00,2,"[[3772.994464407109, 479.00553559289114], [31556.679712537632, 4006.3202874623676], [1218.3258230552588, 154.6741769447412]]"

In [27]:
pd.crosstab(data['job'], data['y'])

y                 0     1
job
admin.         9070  1352
blue-collar    8616   638
entrepreneur   1332   124
housemaid       954   106
management     2596   328
retired        1286   434
self-employed  1272   149
services       3646   323
student         600   275
technician     6013   730
unemployed      870   144
unknown         293    37

## Melhores variáveis numéricas:

<li>1° nr.employed</li>
<li>2º pdays</li>
<li>3º euribor</li>

## Melhores variáveis categóricas:

<li>1° poutcome</li>
<li>2° month</li>
<li>3° job</li>