In [8]:
import pandas as pd

In [9]:
data = pd.read_csv('data_fixed.csv', sep=',')

In [10]:
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
2,37,services,married,high.school,no,yes,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
4,56,services,married,high.school,no,no,yes,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  campaign        41188 non-null  int64
 11  pdays           41188 non-null  int64
 12  previous        41188 non-null  int64
 13  poutcome        41188 non-null  object
 14  emp.var.rate    41188 non-null  float64
 15  cons.price.idx  41188 non-null  float64
 16  cons.conf.idx   41188 non-null  float64
 17  euribor3m       41188 non-null  float64
 18  nr.employed     41188 non-null  float64
 19  y               41188 non-null  int64
dtypes: float64(5), int64(5), object(10)
memory usage: 6.3+ MB

In [15]:
import scipy

In [18]:
from scipy import stats

In [20]:
correlation, pvalue = stats.pointbiserialr(data['age'], data['y'])

In [25]:
print(f'correlação: {correlation:.4f}')
print(f'valor P: {pvalue:.4f}')

correlação: 0.0304
valor P: 0.0000

Correlação entre variáveis quantitativas e variável alvo.

In [ ]:
num_columns = data.select_dtypes(include=['int64', 'float64']).columns

correlations = []

for col in num_columns:
    corr, pvalue = stats.pointbiserialr(data[col], data['y'])
    correlations.append({'feature': col, 'correlation': corr, 'pvalue': pvalue})

correlations_df = pd.DataFrame(correlations)

correlations_df

In [33]:
table = pd.crosstab(data['job'], data['y'])

In [34]:
chi2, p, dof, expected = stats.chi2_contingency(table)

In [35]:
print(f"Qui-quadrado: {chi2}\np-value: {p}")

Qui-quadrado: 961.2424403289555
p-value: 4.189763287563623e-199